<div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        
        <div class="form-group">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="post-title" placeholder="">
        </div>

        <br>


        <div class="form-group">
        <label for="post-content" class="form-label">Content</label>
        <textarea class="form-control" id="post-content" rows="4"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>


<script src="/js/add-post.js"></script>