* {
  box-sizing: border-box;
}

main {
  margin: 20px auto;
  width: 95%;
}

body {
  background-color: rgb(228, 228, 228);
  line-height: 1.5;
}


.navbar {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  background-color: rgb(80, 53, 53);
}

.nav-link {
  font-size: larger;
  margin-right: 30px;
}

.nav-item {
  color: white;
}

.nav-link:hover {
  font-size: 130%;
}

.title {
  color: white;
}

.card {
  margin-bottom: 20px;
  border: 2px solid;
}

.card-header {
  color: rgb(228, 228, 228);
  background-color: rgb(80, 53, 53);
}


h4 {
  font-weight: bold;
  line-height: 2.0;
}

.post-title {
  color: rgb(228, 228, 228);
}

.user-info {
  font-size: 14px;
  font-style: italic;
}

.btn {
  font-size: 20px;
  padding: 6px 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.signup-link {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.new-post-link {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-weight: bold;
  font-size: 24px;
}





